In [1]:
import pandas as pd

# To do linear algebra
import numpy as np

In [ ]:
#We load the movies for the combination
movies = pd.read_csv("final_data/cooked_movies.csv").set_index('id')
movies.head()

In [38]:
#We pick 10 random users for the test, we are going to store their models and consul those when needed
#usr_list=['30878','1989766','14756','2380848','2161335','956464','1050889','584301','52736','2113696']
usr_list=['30878']
#We now choose a list with our combined data files to use
#files_list=['combined_data_1.txt','combined_data_2.txt','combined_data_3.txt','combined_data_4.txt']
files_list=['combined_data_1.txt']

In [62]:
print("Commencing file processing")
for user in usr_list:
    i=0
    print("processing user " + user)
    usr_ratings = []
    for filename in files_list:
        print("processing file " + filename)
        with open("data/"+filename) as infile:
            for line in infile:
                if ":" in line:
                    #Here a new film starts to process
                    if i !=0:
                        movie_rate = np.array([i,rate])
                        usr_ratings.append(movie_rate)
                        rate = None        
                    i=int(line.replace(":",""))
                elif ":" not in line:
                    split = line.split(",")
                    usr = split[0]
                    if(usr==user):
                        rate = float(split[1])
        usr_ratings = np.asarray(usr_ratings)
        df = pd.DataFrame(data=usr_ratings, columns=['id','rating'])
        df.rating = df.rating.astype('float')
        df.id = df.id.astype('int')
        df = df.set_index('id')

Commencing file processing
processing user 30878
processing file combined_data_1.txt

ValueError: Shape of passed values is (2, 4498), indices imply (2, 1)

In [93]:
df = pd.DataFrame(data=usr_ratings, columns=['id','rating'])
df.rating = df.rating.astype('float')
df.id = df.id.astype('int')
df = df.set_index('id')
df.head()

    rating
id
1      4.0
2      NaN
3      NaN
4      NaN
5      1.0

,year,title,Runtime,Rating,Directors,Writers,Production companies,Genres
id,,,,,,,,
1,2003.0,Dinosaur Planet,50.0,7.7,Pierre de Lespinois,Mike Carrol-Mike Carroll-Georgann Kane,NaN,Documentary-Animation-Family
2,2004.0,Isle of Man TT 2004 Review,NaN,NaN,NaN,NaN,NaN,NaN
3,1997.0,Character,122.0,7.8,Mike van Diem,Ferdinand Bordewijk-Laurens Geels-Mike van Diem,First Floor Features-Almerica Film,Crime-Drama-Mystery
4,1994.0,Paula Abdul's Get Up & Dance,54.0,8.8,Steve Purcell,NaN,NaN,Family
5,2004.0,The Rise and Fall of ECW,360.0,8.6,Kevin Dunn,Paul Heyman,WWE Home Video,Documentary-Sport

In [95]:
dfs = movies.join(df)
dfs.head()

,year,title,Runtime,Rating,Directors,Writers,Production companies,Genres,rating
id,,,,,,,,,
1,2003.0,Dinosaur Planet,50.0,7.7,Pierre de Lespinois,Mike Carrol-Mike Carroll-Georgann Kane,NaN,Documentary-Animation-Family,4.0
2,2004.0,Isle of Man TT 2004 Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1997.0,Character,122.0,7.8,Mike van Diem,Ferdinand Bordewijk-Laurens Geels-Mike van Diem,First Floor Features-Almerica Film,Crime-Drama-Mystery,NaN
4,1994.0,Paula Abdul's Get Up & Dance,54.0,8.8,Steve Purcell,NaN,NaN,Family,NaN
5,2004.0,The Rise and Fall of ECW,360.0,8.6,Kevin Dunn,Paul Heyman,WWE Home Video,Documentary-Sport,1.0